.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 70px);
  font-family: math;
  button {
    padding: 10px 45px;
    font-size: medium;
    border: none;
    color: white;
    cursor: pointer;
    margin: 18px;
    background-color: #3c5ee7;
  }

  button:hover {
    background-color: #0f3ae7;
  }

}


